{% extends 'baseOrghome.html' %} {% block title %} Manage Hospital {%endblock %} {% block navPageName %}
<a class="navbar-brand" href="#">Manage Hospital</a> {% endblock %} {%block content %}

<head>
    <title>Manage Hospital</title>
</head>

<body>
    <div class="form-container" style="background-color: bisque; padding: 20px; border-radius: 10px; width: fit-content; margin: 0 auto;">
    <h1>Manage Hospital</h1>

    <form method=get>
        <button type="submit" formaction="../../">Go Back</button>
        <button type="submit" formaction="add/">Add Hospital</button>
    </form>
    <br>
    <form method="post">
        {% csrf_token %}
        <table style="margin: auto; text-align: right;">
            <tr>
                <td><label for="hospital_id">Hospital ID:</label></td>
                <td>{{ form.hospital_id }}</td>
            </tr>
            <tr>
                <td><label for="hospital_name">Hospital Name:</label></td>
                <td>{{ form.hospital_name }}</td>
            </tr>
            <tr>
                <td><label for="hospital_address">Hospital Address:</label></td>
                <td>{{ form.hospital_address }}</td>
            </tr>
            <tr>
                <td><label for="hospital_phone_number">Hospital Phone:</label></td>
                <td>{{ form.hospital_phone }}</td>
            </tr>
        </table>
        <div class = "container" style="display: flex; justify-content: space-between; margin-top: 5px;">
        <button type="submit" name="Submit">Submit</button>
    </form>
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="Toggle Details">Toggle Detailed Statistics</button>
    </div>
    </form>
</div>
    <br><br>

    <h2>Actions</h2>
    {% if selected_hospital %}
    <p>You can perform the actions below: </p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" formaction="{{ selected_hospital.hospital_id }}/delete/">Delete Hospital</button>
        <button type="submit" formaction="{{ selected_hospital.hospital_id }}/edit/">Edit Hospital</button>
    </form>
    {% else %}
    <p>Please filter out one and only one hospital to perform actions.</p>
    {% endif %}
    <br><br>

    <h2>Search Results</h2>
    <table style="margin: auto; text-align: right;" class="table table-dark table-striped" style="margin-left:auto; margin-right:auto; margin-top: 5px; margin-bottom: 10px;">
        <tr>
            <th>Hospital ID</th>
            <th>Hospital Name</th>
            <th>Hospital Address</th>
            <th>Hospital Phone</th>
            {% if details %}
            <th>Animals Sent</th>
            <th>Animals Present</th>
            {% endif %}
        </tr>
        {% for hospital in hospitals %}
        <tr>
            <td>{{ hospital.hospital_id }}</td>
            <td>{{ hospital.hospital_name }}</td>
            <td>{{ hospital.hospital_address }}</td>
            <td>{{ hospital.hospital_phone_number }}</td>
            {% if details %}
            <td>{{ hospital.num_animal_sent }}</td>
            <td>{{ hospital.num_animal_present }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</body>

{% endblock %}