{% extends 'baseHome.html' %} {% block title %} Adopt Animal {%endblock %} {%block content %} {% load widget_tweaks %}

<head>
    <title>Adoption Panel</title>
</head>

<h1>Adoption Panel</h1>

<h2>My Animals</h2>
<p> Here shows your animals adopted on this platform. </p>
<p> Found {{ my_animals|length }} animals. </p>
<table class="table table-dark table-striped" style="margin-left:auto; margin-right:auto; margin-top: 5px; margin-bottom: 10px;">
    <!-- self, animal_id, animal_type, animal_name, animal_status, reported_date, reported_reason, reported_location, shelter_date, adopt_user_id, report_user_id -->
    <tr>
        <th>Animal ID</th>
        <th>Animal Type</th>
        <th>Animal Name</th>
    </tr>
    {% for animal in my_animals %}
    <tr>
        <td>{{ animal.animal_id }}</td>
        <td>{{ animal.animal_type }}</td>
        <td>{{ animal.animal_name }}</td>
    </tr>
    {% endfor %}
</table>

<h2>Request for Organization visit</h2>
<p> You can apply for a visit to the organization you are interested in. </p>
<form method="post">
    {% csrf_token %}
    <p>Please select the organization to view the animals they are currently sheltering.</p>
    <select name="org">
            <option value="">Please Select Organization</option>
            {% for org in orgs %}
            <option value="{{ org.org_id }}" 
                {% if org.org_id == selected_org_id %} selected='selected' {% endif %}>
                {{ org.org_name }}
            </option>
            {% endfor %}
        </select>
    <button type="submit" name="Search" style="margin-bottom: 20px;">Search</button>
</form>
{% if form %}
<form method="post">
    {% csrf_token %}
    <p>You can apply for a visit to the selected organization.</p>
    <form method="post">
        {% csrf_token %}
        <label type="text-align">Visit Date:</label> {{ form.visit_date| attr:"placeholder: YYYY-MM-DD" | attr:"style:width:140px;" }}
        <button type="submit" name="Apply">Apply</button> <br>
        <div style="font-size: large;  color:blue; margin-bottom: 20px;">{{ status}}</div>

    </form>
    {% endif %} {% if animals|length > 0 or ApplyFault == True%}
    <h2>Search Results</h2>
    <table class="table table-dark table-striped" style="margin-left:auto; margin-right:auto; margin-top: 5px; margin-bottom: 10px;">
        <tr>
            <th>Animal Type</th>
            <th>Animal ID</th>
            <th>Animal Name</th>
            <th>Reported Date</th>
            <th>Reported Location</th>
        </tr>
        {% for animal in animals %}
        <tr>
            <td>{{ animal.animal_type }}</td>
            <td>{{ animal.animal_id }}</td>
            <td>{{ animal.animal_name }}</td>
            <td>{{ animal.reported_date }}</td>
            <td>{{ animal.reported_location }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %} {% endblock %}