{% extends 'baseHome.html' %} 
{% block title %} Home {%endblock %}

{% block navPageName %}
    <a class="navbar-brand" href="#">Report Animal</a>
{% endblock %}

{%block content %}
<head>
    <title>Report Animal</title>
</head>



<div class="form-container" style="background-color: bisque; padding: 20px; border-radius: 10px; width: fit-content; margin: 0 auto">
    <h1>Report Animal</h1>
    <form method="post">
        {% csrf_token %}
        {{ status }}
        <table style="margin-left:auto; margin-right:auto; margin-top: 5px; margin-bottom: 10px; " >
            <tr>
                <td>Animal Type:</td>
                <td>{{ form.animal_type }}</td>
            </tr>
            <tr>
                <td>Animal Name:</td>
                <td>{{ form.animal_name }}</td>
            </tr>
            <tr>
                <td>Report Reason:</td>
                <td>{{ form.reported_reason }}</td>
            </tr>
            <tr>
                <td>Report Location:</td>
                <td>{{ form.reported_loacation }}</td>
            </tr>
            <tr>
                <td> </td>
                <td><button type="submit" name="Submit" style="width: 180px;">Submit</button></td>
            </tr>
        </table>
    </form>
</div>
    
{% endblock%}   