<!-- sign up page -->
{% extends 'baseEditprofile.html' %} 
{% block title %} Profile {%endblock %}


{% block navPageName %}
    <a class="navbar-brand" href="#">Edit Profile</a>
{% endblock %}


{% block content%}
<head>
    <title>Edit Profile</title>
</head>

<body>
    <!-- <h1>Edit Profile</h1> -->
    {{ status }}
    <div class="form-container" style="background-color: bisque; padding: 20px; border-radius: 10px; width: fit-content; margin: 0 auto">
        <form method="POST">
            {% csrf_token %}
            <table style="margin-left:auto; margin-right:auto; margin-top: 5px; margin-bottom: 10px;">
                <tr>
                    <td><label for="username">Username:</label></td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td><label for="email">Email:</label></td>
                    <td>{{ form.email }}</td>
                </tr>
                <tr>
                    <td><label for="phone">Phone:</label></td>
                    <td>{{ form.phone }}</td>
                </tr>
            </table>
            <button type="submit" name="Edit">Edit</button>
        </form>
    </div>
</body>

{% endblock %}