<!-- display login successful message -->

<html>

<head>
    <title>Home</title>
</head>

<body>
    <p>Welcome, User {{ user_name }}! Your user ID is {{ user_id }}</p>
    <!-- <p><a href="logout/">Logout</a></p> -->
    <!-- make a button instead -->
    <form method="post">
        {% csrf_token %}
        <button type="submit" formaction="logout/">Logout</button>
    </form>
    <form method="post">
        {% csrf_token %}
        <button type="submit" formaction="profile/">Profile</button>
    </form>
</body>

</html>