<!-- display login successful message -->

<html>

<head>
    <title>Home</title>
</head>

<body>
    <p>Welcome, {{ user_level }} {{ user_name }}! Your user ID is {{ user_id }}</p>
    <!-- <p><a href="logout/">Logout</a></p> -->
    <!-- make a button instead -->
    <form method="post">
        {% csrf_token %}
        <button type="submit" formaction="logout/">Logout</button>
    </form>
    <form method="post">
        {% csrf_token %}
        <button type="submit" formaction="profile/">Profile</button>
    </form>
    <form method="post">
        {% csrf_token %}
        <button type="submit" formaction="org_home/">Organization</button>
    </form>
    {% if user_level == "Admin" %}
    <h2 style="color:red">Admin Only</h2>
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="redirect_manage_users">Manage Users</button>
    </form>
    {% endif %}
</body>

</html>