<!-- templates/registration/login.html -->
{% extends 'base.html' %} 
{% block title %} login {%endblock %}
{%block content %}


<style>
    form label {
        display: inline-block;
        width: 80px; 
        text-align: right; 
    }
    form input {
        width: 150px; /* Set the width of the input fields as needed */
        margin-bottom: 10px; /* Add margin at the bottom of input fields for spacing */
    }
    .form-container {
        background-color: rgb(94, 94, 100);
        padding: 20px;
        border-radius: 10px;
        color: white;
        width: fit-content;  /* 使容器大小适应内容宽度 */
        margin: 0 auto;     /* 水平居中 */
        }
    </style>

<div class="form-container">
<h2>Log In</h2>
<form method="post">
    {% csrf_token %}
    <!-- username -->
    <label for="id_username">Username:</label> {{ form.username }}
    <!-- password -->
    <br><br>
    <label for="id_password">Password:</label> {{ form.password }}
    <!-- submit -->
    <br>
    <button type="submit" style="display: inline-block; margin-top: 10px; width: 230px;
    margin-bottom: 10px;">Log In</button>
    <!-- redirect to signup page -->
    <p>Don't have an account? <a href="{% url 'signup' %}" style="color: bisque;">Sign up</a> now.</p>


</form>

</div>


{% endblock %}
<!-- add status normally blank and says "login failed" upon failed logins -->
{{ status }}