{% extends 'baseOrghome.html' %} 
{% block title %} Edit Organization {%endblock %}


{% block navPageName %}
    <a class="navbar-brand" href="#">Edit Organization</a>
{% endblock %}


{% block content%}

<style>

    th, td {
        text-align: right;
        vertical-align: top; 
    }
</style>


<head>
    <title>Edit Organization</title>
</head>

<div class="form-container" style="background-color: bisque; padding: 20px; border-radius: 10px; width: fit-content; margin: 0 auto">
    <h1>Edit Organization</h1>
    {{ status }}
    <form method="POST">
        {% csrf_token %}
        <table style="margin-left:auto; margin-right:auto; margin-top: 5px; margin-bottom: 10px;">
            <tr>
                <td><label for="org_name">Org Name:</label></td>
                <td>{{ form.org_name }}</td>
            </tr>
            <tr>
                <td><label for="org_address">Org Address:</label></td>
                <td>{{ form.org_address }}</td>
            </tr>
            <tr>
                <td><label for="org_phone">Org Phone:</label></td>
                <td>{{ form.org_phone }}</td>
            </tr>
            <tr>
                <td><form><button type="submit" formaction="../../">Go Back</button></form></td>
                <td><button type="submit" name="Edit">Edit</button></td>
            </tr>
        </table>
        
    </form>
</div>

{% endblock %}