
<head>
    <title>Send Animal To Hospital</title>
</head>

<body>
    <h1>Send Animal To Hospital</h1>
    {{ status }}

    <form method="GET">
        <button>
            <a href="../../">Back</a>
        </button>
    </form>

    <form method="POST">
        {% csrf_token %}
        <h2>Fill in Description</h2>
        <table>
            <tr>
                <td><label for="report_reason">Description</label></td>
                <td><input type="text" name="report_reason" id="report_reason" maxlength="200" required></td>
            </tr>
        </table>
        <button type="submit">Submit</button>
    </form>
</body>