{% extends 'baseOrghome.html' %} {% block title %} org_home {%endblock %} {% block navPageName %}
<a class="navbar-brand" href="#">Organization Home</a> {% endblock %} {% block content %}

<head>
    <title>Organization Home</title>
</head>

<style>
    .Founder,
    .Member {
        display: none;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('#FounderLink').click(function() {
            $('.Founder').toggle();
        })
        $('#MemberLink').click(function() {
            $('.Member').toggle();
        })
    });
</script>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-building-fill-gear" viewBox="0 0 16 16" style=" align-items: center;">
            <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v7.256A4.493 4.493 0 0 0 12.5 8a4.493 4.493 0 0 0-3.59 1.787A.498.498 0 0 0 9 9.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .39-.187A4.476 4.476 0 0 0 8.027 12H6.5a.5.5 0 0 0-.5.5V16H3a1 1 0 0 1-1-1zm2 1.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5m3 0v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5m3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM4 5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5M7.5 5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm2.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5M4.5 8a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z"/>
            <path d="M11.886 9.46c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382l.045-.148ZM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0"/>
          </svg> Organization
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Method
            </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink" style="width: max-content;">
                        <li class="navbar-nav ">
                            <a class="nav-link" href="{% url 'org_build' %}" style="display: flex; align-items: center;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-building-add" viewBox="0 0 16 16">
                        <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0"/>
                        <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v6.5a.5.5 0 0 1-1 0V1H3v14h3v-2.5a.5.5 0 0 1 .5-.5H8v4H3a1 1 0 0 1-1-1z"/>
                        <path d="M4.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z"/>
                      </svg> Build Organization
                            </a>
                        </li>
                        <li class="navbar-nav ">
                            <a class="nav-link" href="{% url 'org_browse' %}" style="display: flex; align-items: center;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-building" viewBox="0 0 16 16">
                        <path d="M4 2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM4 5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zM7.5 5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zM4.5 8a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z"/>
                        <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1zm11 0H3v14h3v-2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5V15h3z"/>
                      </svg> Browse/Join Organization
                            </a>
                        </li>
                        <!-- ---------- -->
                        <li>
                            <hr class="dropdown-divider" color="white">
                        </li>

                        <li><a class="dropdown-item" href="#" id="FounderLink">Organizations as Founder</a></li>
                        <li><a class="dropdown-item" href="#" id="MemberLink">Organizations as Member</a></li>

                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>




<!-- <body> -->

<!-- <h1>Organization Home</h1> -->
<!-- <p><a href="logout/">Logout</a></p> -->
<!-- <form method="post">
            {% csrf_token %}
            <button type="submit" formaction="../">Personal Home</button>
        </form> -->
<!-- <form method="post">
            {% csrf_token %}
            <button type="submit" formaction="../org_build/">Build Organization</button>
        </form>
        <form method="post">
            {% csrf_token %}
            <button type="submit" formaction="../org_browse/">Browse/Join Organization</button>
        </form> -->
<!-- display {{ owned_orgs }} with a table-->
<div class="Founder">
    <h2>Organizations as Founder: </h2>
    <table class="table table-dark table-striped" style="margin-left:auto; margin-right:auto; margin-top: 5px; margin-bottom: 10px;">
        <tr>
            <th ms-auto>Org_ID</th>
            <th ms-auto>Org_Name</th>
            <th ms-auto>Address</th>
            <th ms-auto>Phone_Num</th>
            <th ms-auto>Founded_Date</th>
            <th ms-auto>Homepage</th>
            <th ms-auto>Edit info</th>
            <th ms-auto>Edit founder</th>
            <th ms-auto>Delete</th>
        </tr>
        {% for org in owned_orgs %}
        <tr>
            <td ms-auto>{{ org.org_id }}</td>
            <td ms-auto>{{ org.org_name }}</td>
            <td ms-auto>{{ org.org_address }}</td>
            <td ms-auto>{{ org.org_phone }}</td>
            <td ms-auto>{{ org.org_founded_date }}</td>
            <td ms-auto>
                <form><button type="submit" formaction="../org_home/{{ org.org_id }}">Homepage</button></form>
            </td>
            <td>
                <form><button type="submit" formaction="../org_home/{{ org.org_id }}/edit_info">Edit info</button></form>
            </td>
            <td>
                <form><button type="submit" formaction="../org_home/{{ org.org_id }}/edit_founder">Edit Founder</button></form>
            </td>
            <td>
                <form><button type="submit" formaction="../org_home/{{ org.org_id }}/delete">Delete</button></form>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

<div class="Member">
    <h2>Organizations as Member: </h2>
    <table class="table table-dark table-striped" style="margin-left:auto; margin-right:auto; margin-top: 5px; margin-bottom: 10px;">
        <tr>
            <th ms-auto>Org_ID</th>
            <th ms-auto>Org_Name</th>
            <!-- <th ms-auto>Address</th>
                <th ms-auto>Phone_Num</th>
                <th ms-auto>Founded_Date</th> -->
            <th ms-auto>Homepage</th>
            <th ms-auto>Event Panel</th>
            <th ms-auto>Animal Panel</th>
            <th ms-auto>Visit Panel</th>
            <th ms-auto>Leave</th>
        </tr>
        {% for org in attending_orgs %}
        <tr>
            <td ms-auto>{{ org.org_id }}</td>
            <td ms-auto>{{ org.org_name }}</td>
            <!-- <td ms-auto>{{ org.org_address }}</td>
                <td ms-auto>{{ org.org_phone }}</td>
                <td ms-auto>{{ org.org_founded_date }}</td> -->
            <td>
                <form><button type="submit" formaction="../org_home/{{ org.org_id }}">Homepage</button></form>
            </td>
            <td>
                <form><button type="submit" formaction="../org_home/{{ org.org_id }}/event_panel">Event Panel</button></form>
            </td>
            <td>
                <form><button type="submit" formaction="../org_home/{{ org.org_id }}/animal_panel">Animal Panel</button></form>
            </td>
            <td>
                <form><button type="submit" formaction="../org_home/{{ org.org_id }}/visit_panel">Visit Panel</button></form>
            </td>
            <td>
                <form><button type="submit" formaction="../org_home/{{ org.org_id }}/leave">Leave</button></form>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
<!-- Build org -->
<!-- </body> -->

<!-- <script>
        $(document).ready(function(){
          $("a").click(function(){
            $(".F").toggle(1000);
            $(".G").toggle(100);
          });
        });
        </script>
 
        <a href="#">Toggle between hide and show for a p element</a>
        
        <div class ="F">This is a paragraph.</div>
        <div class ="G">SSSSS</div> -->


{% endblock %}