<html>
<head>
    <title>Create Event</title>
</head>

<body>
    <h1>Create Event</h1>
    <p>Create an event as organization {{ org_info.org_name }}</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" formaction="../../">Go Back</button>
    </form>

    <form method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>Event Name</td>
                <td>{{ form.event_name }}</td>
            </tr>
            <tr>
                <td>Event Date</td>
                <td>{{ form.event_date }}</td>
            </tr>
            <tr>
                <td>Capacity</td>
                <td>{{ form.capacity }}</td>
            </tr>
            <tr>
                <td>Event Location</td>
                <td>{{ form.event_location }}</td>
            </tr>
            <tr>
                <td>Event Description</td>
                <td> {{ form.event_description }} </td>
            </tr>
            <tr>
                <td>Start Time</td>
                <td> {{ form.start_time }} </td>
            </tr>
            <tr>
                <td>End Time</td>
                <td>{{ form.end_time }}</td>
            </tr>
        </table>
        <button type="submit" name="create_event">Create Event</button>

    </form>
    {{ status}}
    {{ form.errors }}
</html>