<!-- similar to the signup page, lets user fill in informations to build a org -->

{% extends 'baseOrghome.html' %} 
{% block title %} Build Organization {%endblock %}


{% block navPageName %}
    <a class="navbar-brand" href="#">Build Organization</a>
{% endblock %}




{%block content %}

<style>

    th, td {
        text-align: right;
        vertical-align: top; 
    }
</style>

<head>
    <title>Build Organization</title>
</head>


    <!-- <h1>Build Organization</h1> -->
    <div class="form-container" style="background-color: bisque; padding: 20px; border-radius: 10px; width: fit-content; margin: 0 auto;">
        <h2>Build Organization</h2>
    <form method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td><label for="org_name">Org Name:</label></td> 
                <td>{{ form.org_name }}</td>
            </tr>
            <tr>
                <td><label for="org_address">Org Address:</label></td> 
                <td>{{ form.org_address }}</td>
            </tr>
            <tr>
                <td><label for="org_phone">Org Phone:</label></td> 
                <td>{{ form.org_phone }}</td>
            </tr>

        </table>

    <div class = "container" style="display: flex; justify-content: space-between; margin-top: 5px;">
        <button type="submit" name="Submit">Build</button>
    </form>
    <form method="post">
        {% csrf_token %}
        <button type="submit" formaction="../org_home/">Cancel</button>
    </form>
    </div>
</div>



{%endblock%}



