<!-- display the org infos -->
{% extends 'baseOrghome.html' %} 
{% block title %} Org_page {%endblock %}

{% block navPageName %}
    <a class="navbar-brand" href="#">Organization Home Page</a>
{% endblock %}

{%block content %}
    <div class = "form-container" style="background-color: bisque; padding: 20px; border-radius: 10px; width: fit-content; margin: 0 auto; ">
    <head>
        <title>{{ org_info.org_name }}</title>
    </head>
    
        <h1>{{ org_info.org_name }}</h1>
        {% if attending %}
        <p>You are currently in this organization.</p>
        {% else %}
        <p>You are currently not in this organization.</p>
        {% endif %}
        <div class = "container" style="display: flex; justify-content:space-around; margin-top: 5px; margin-bottom: 10px;"> 
                <form action="../" method="get"><button type="submit">Back</button></form>
                {% if not attending %}
                <form action="join/" method="get"><button type="submit">Join</button></form>
                {% else %}
                <form action="leave/" method="get"><button type="submit">Leave</button></form>
                {% endif %}
        </div>
    
        

        <h2>Organization Information</h2>
        <div class="form-container" style=" width: fit-content; margin: 0 auto; margin-bottom: 10px;">
        <table>
            <tr>
                <th>Org_ID</th>
                <td>{{ org_info.org_id }}</td>
            </tr>
            <tr>
                <th>Org_Name</th>
                <td>{{ org_info.org_name }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ org_info.org_address }}</td>
            </tr>
            <tr>
                <th>Phone_Num</th>
                <td>{{ org_info.org_phone }}</td>
            </tr>
            <tr>
                <th>Founded_Date</th>
                <td>{{ org_info.org_founded_date }}</td>
            </tr>
        </table>
        </div>
        <h2>Organization Founders</h2>
        <div class="form-container" style=" width: fit-content; margin: 0 auto;">
        <table>
            <tr>
                <th>Founder_Name</th>
                <th>Founder_Email</th>
                <th>Founder_Phone</th>
            </tr>
            {% for founder in org_founders %}
            <tr>
                <td>{{ founder.user_name }}</td>
                <td>{{ founder.user_email }}</td>
                <td>{{ founder.user_phone }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    </div>

{% endblock %}
