<!-- display the org infos -->

<html>
    <head>
        <title>{{ org_info.org_name }}</title>
    </head>
    
    <body>
        <h1>{{ org_info.org_name }}</h1>
        <table>
            <tr>
                <td><form action="../" method="get"><button type="submit">Back</button></form></td>
                {% if not attending %}
                <td><form action="join/" method="get"><button type="submit">Join</button></form></td>
                {% else %}
                <td><form action="leave/" method="get"><button type="submit">Leave</button></form></td>
                {% endif %}
            </tr>
        </table>
        {% if attending %}
        <p>You are currently in this organization.</p>
        {% else %}
        <p>You are currently not in this organization.</p>
        {% endif %}

        <h2>Organization Information</h2>
        <table>
            <tr>
                <th>Org_ID</th>
                <td>{{ org_info.org_id }}</td>
            </tr>
            <tr>
                <th>Org_Name</th>
                <td>{{ org_info.org_name }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ org_info.org_address }}</td>
            </tr>
            <tr>
                <th>Phone_Num</th>
                <td>{{ org_info.org_phone }}</td>
            </tr>
            <tr>
                <th>Founded_Date</th>
                <td>{{ org_info.org_founded_date }}</td>
            </tr>
        </table> 
        <h2>Organization Founders</h2>
        <table>
            <tr>
                <th>Founder_Name</th>
                <th>Founder_Email</th>
                <th>Founder_Phone</th>
            </tr>
            {% for founder in org_founders %}
            <tr>
                <td>{{ founder.user_name }}</td>
                <td>{{ founder.user_email }}</td>
                <td>{{ founder.user_phone }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>