<!-- similar to the signup page, lets user fill in informations to build a org -->

<html>
<head>
    <title>Build Organization</title>
</head>

<body>
    <h1>Build Organization</h1>
    <form method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td><label for="org_name">Org Name:</label></td> 
                <td>{{ form.org_name }}</td>
            </tr>
            <tr>
                <td><label for="org_address">Org Address:</label></td> 
                <td>{{ form.org_address }}</td>
            </tr>
            <tr>
                <td><label for="org_phone">Org Phone:</label></td> 
                <td>{{ form.org_phone }}</td>
            </tr>

        </table>
        <button type="submit" name="Submit">Build</button>
    </form>
    <form method="post">
        {% csrf_token %}
        <button type="submit" formaction="../org_home/">Cancel</button>
    </form>
</body>



</html>